<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <!--описываем сервлет добавить -->
    <servlet>
        <servlet-name>add</servlet-name><!-- имя сервлета -->
        <servlet-class>app.servlets.AddServlet</servlet-class><!-- класс где описан сервлет(полное имя -->
    </servlet>
<!--Мапинг или разметка-
 описание для томката чтобы запросы с определеного адресса
 обрабатливались нужным сервлетом
 -->
    <!--привязываем сервлет к аддрессу  -->
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <!--описываем сервлет лист -->
    <servlet>
        <servlet-name>list</servlet-name><!-- имя сервлета -->
        <servlet-class>app.servlets.ListServlet</servlet-class><!--класс где описан проект(полное имя)  -->
    </servlet>
    <!--привязываем сервлет к аддрессу  -->
    <servlet-mapping>
        <servlet-name>list</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>


    <!-- (Описываем сервлет которая ссылается на игру Cокобан)
<servlet>
  <servlet-name>sobocan</servlet-name>
  <servlet-class>app.servlets.SobocanServlet</servlet-class>
</servlet>
    (maping)
<servlet-mapping>
  <servlet-name>sobocan</servlet-name>
  <url-pattern>sobocan</url-pattern>
</servlet-mapping>
-->
</web-app>